.backgroundLogo {
    height: 95%;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 80%;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 15%;
}
body {
    overflow: hidden;
    background: linear-gradient(to bottom, white, #999999);
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: calc(100vh - 100px);
    overflow: hidden;
}

nav {
    height: 100px;
    background-color: rgba(234, 234, 234, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav a {
    color: black;
    text-decoration: none;
    gap: 25px;
    font-size: 24px;
    font-weight: bold;
    height: 32px;
    padding-right: 40px;
}

.logo {
    max-width: 163px;
    margin: 0;
    display: block;
    padding-right: 20px;
}

.header {
    text-align: center;
    font-size: 34px;
    padding: 10px;
    font-family: arial;
}

p {
 text-align: center;
 padding: 25px;
 font-size: 15px;
 font-family: arial;
 

}